@model GameModel

<h1>@Model.Name</h1>
<p>@Html.Raw(Model.Description)</p>
<div>@Model.RealeseDate</div>
<div>@Model.BigLogo</div>
<img src="@Model.SmallLogo" />
<img src="@Model.BigLogo" />
<div>@Model.SmallLogo</div>
<div>@Model.ShortDescription</div>