@model MVC_FrontEnd.Areas.Game.ViewModels.GameListViewModel

<div class="text-center mt-4 mb-5">
    <div class="pagination justify-content-center">

        <!-- Previous pages -->
        @if (Model.CurrentPage <= 1)
        {
            <div class="disabled page-item">
                <a class="page-link" asp-area="game" asp-controller="home" asp-action="index" asp-route-pagenumber="@(Model.CurrentPage-1)" asp-route-pagesize="@Model.PageSize">
                    <span>«</span>
                </a>
            </div>
        }
        else
        {
            <div class="page-item">
                <a class="page-link" asp-area="game" asp-controller="home" asp-action="index" asp-route-pagenumber="@(Model.CurrentPage-1)" asp-route-pagesize="@Model.PageSize">
                    <span>«</span>
                </a>
            </div>
        }
        <!-- Previous pages END -->

        <!-- Selected pages -->
        @foreach (var item in Model.PagesToShow)
        {
            if (item == Model.CurrentPage)
            {
                <div class="active page-item"><a asp-area="game" asp-controller="home" asp-action="index" asp-route-pagenumber="@(item)" asp-route-pagesize="@Model.PageSize" class="page-link">@(item)</a></div>
            }
            else
            {
                <div class="page-item"><a asp-area="game" asp-controller="home" asp-action="index" asp-route-pagenumber="@(item)" asp-route-pagesize="@Model.PageSize" class="page-link">@(item)</a></div>
            }

        }
        <!-- Selected pages END -->

        <!-- News pages -->
        @if (Model.CurrentPage >= Model.PagesToShow.Last())
        {
            <div class="disabled page-item">
                <a class="page-link" asp-area="game" asp-controller="home" asp-action="index" asp-route-pagenumber="@(Model.CurrentPage+1)" asp-route-pagesize="@Model.PageSize">
                    <span>»</span>
                </a>
            </div>
        }
        else
        {
            <div class="page-item">
                <a class="page-link" asp-area="game" asp-controller="home" asp-action="index" asp-route-pagenumber="@(Model.CurrentPage+1)" asp-route-pagesize="@Model.PageSize">
                    <span>»</span>
                </a>
            </div>
        }
        <!-- News pages END -->

    </div>
</div>